h1, h2, h3, h4, h5, h6 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;      
}

body {
  padding-top: 56px; /* offset for sticky navbar */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #ECE9E2;
}

.navbar-brand {
  font-family: "Dela Gothic One", sans-serif;
}

.carousel-item img {
  object-fit: cover;
  height: 640px;
}

.product-card {
  border-radius: 24px;
}

.product-card img {
  object-fit: cover;
  height: 300px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.product-card button {
  width: 100%;
}

.icon-size {
  width: 1.5rem;
  height: 1.5rem;
}

.model-body img, .custom {
  width: 100%;
  object-fit: cover;
}
